body {
    color: rgb(255, 255, 255);
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(45, 13, 131)), to(rgb(179, 118, 118)));
    font: 100% Arial, Helvetica, sans-serif;
}
ul {
    font-family:dancing script;
    background-image: -webkit-radial-gradient(center, circle cover, rgb(110 , 81, 131), rgb(128, 48, 126));
    display: flex;
    justify-content: space-between;
    align-items: center;   
    list-style-type: none;
    padding: 29px;
    font-size: 36px;
    

}   
h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(249, 249, 249);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}